name: Test

on:
  pull_request:
    branches: [ master ]

jobs:
  test_groovy:
    name: Groovy
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Run Groovy Tests
      run: |
        cd pipelines
        ./gradlew --info test
